.header{
    /*
    background-image: url(../img/FondoZoom_2.jpg);
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;*/
    background-color: whitesmoke;
}
.container-principal{
    background-image: url(../img/FondoZoom_2.jpg);
    background-size: cover;
    height: 550px;
}
.titulo-principal{

    text-shadow: 2px 2px yellow;
}

h6{
    color: palevioletred !important;
}

container{
    
}

