<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"> </head>
    <body>
        <nav th:replace="/fragments/nav :: nav"> </nav>
        <div class="container-principal">
            <header >
                <section class="titulo-principal text-center" >
                    <h3>CARGAR NOTICIAS EGG</h3>
                </section>
            </header>   
            <main>
                <form class="formulario d-flex justify-content-center row" th:action="@{/noticia/modificar/__${noticia.id}__}" method="POST">
                    <input hidden th:value="${id}" name="id">
                    <div class="mb-3 col-10">
                        <label for="titulo" class="form-label"></label>
                        <input th:value="${noticia.titulo}" type="text" class="form-control" name="titulo" id="titulo">
                    </div>
                    <div class="mb-3 col-10">
                        <label for="cuerpo" class="form-label"></label>
                        <textarea th:field="${noticia.cuerpo}" type="text"  class="form-control" name="cuerpo" id="cuerpo" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 botones col-4">Guardar</button>
                </form>


                
                

                <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                    <div class="card-body">
                        <h5 class="card-title">Exito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                    <div class="card-body">
                        <h5 class="card-title">Error!</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
            </main>
        </div>


        <footer class="d-flex justify-content-evenly align-items-center p-3">
            <h5 class="text-danger-emphasis">Estamos cambiando el mundo de muchas personas</h5>
            <h6 class="text-danger-emphasis fst-italic">2023. Todos los derechos reservados. Sujeto a términos y condiciones.</h6>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>
